<footer>
  <div class="footer">
    <hr />
    <!-- Social Media Handles -->
    <div class="handles footer-items">
      <!-- Facebook -->
      <a href="/facebook" class="anchors icons-handles"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <!-- Instagram -->
      <a href="/instagram" class="anchors icons-handles"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <!-- Twitter -->
      <a href="/twitter" class="anchors icons-handles"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
    </div>

    <!-- Company Name -->
    <div class="company-name footer-items">
      &#169; 2024 WanderLust Private Limited.
    </div>

    <!-- Privacy and terms & conditions -->
    <div class="privacy-terms footer-items">
      <span>&#183;</span>
      <a href="/privacy" class="privacy anchors">Privacy</a>
      <span>&#183;</span>
      <a href="/terms" class="terms anchors">Terms</a>
      <span>&#183;</span>
    </div>
  </div>
</footer>
