<style>
  #filters {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
  }

  .filter {
    margin-right: 2.5rem;
    margin-top:1rem;
    text-align: center;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info{
    display:none;
  }
  .tax-toggle{
    border: 1px solid rgb(180, 178, 178);
    border-radius:1rem;
    padding:1rem;
    margin-left:5rem;
    height:3.25rem;
    display:flex;
    align-items:center;
  }
  
</style>
<style>
  .search-btn{
    background-color: #fe424d;
    color:white;
    border-radius:25px;
    
  }
  .search-btn:hover{
    background-color: #fe424d;
    color:white;
  }
  .search-bar{
    border-radius:25px;
    border:0px;
    
    
    padding:0.5rem 3rem 0.5rem 3rem;
  }
  .whole-search{
    border:2.5px solid rgb(195, 191, 191);
    border-radius:25px!important;
  }
  
  .mag{
    display:inline;
  }
  
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid navClass">
      <!-- <a class="navbar-brand" href="/"><i class="fa-solid fa-mountain-sun"></i></a> -->
      <a class="navbar-brand" href="/listings"><i style="margin-top:0.1rem;" class="fa-solid fa-map-location-dot"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="/"><b>Home</b></a> -->
          <a class="nav-link" href="/listings"><b>Explore</b></a>
          
        </div>
        <div class="navbar-nav ms-auto whole-search">
          <form class="d-flex search-form" role="search">
            <input class="form-control me-2 search-bar" type="search" placeholder="Search destinations">
            
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass mag"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new"><b>Airbnb your Home</b></a>
          <%if(!currUser){%>
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <%}%>
          <%if(currUser){%>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <%}%>
          <a id="offcanvas-button" class="nav-link " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Filters
          </a> 
          
        </div>
        
      </div>
    </div>
  </nav>



  <!-- Offcanvas! -->

<div class="options">
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- <div id="filters"> -->
        <div class="filter">
          <i class="fa-solid fa-fire"></i>
          <p>Trending</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-umbrella-beach"></i>
          <p>Beach</p>
        </div>
        <div class="filter">
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Historical homes</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-campground"></i>
          <p>Camping</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-person-swimming"></i>
          <p>Amazing Pools</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-cow"></i>
          <p>Farms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-hippo"></i>
          <p>National parks</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-mountain-city"></i>
          <p>Iconic cities</p>
        </div>
        <div class="filter">
          <i class="fa-regular fa-snowflake"></i>
          <p>Arctic</p>
        </div>
        
      <!-- </div> -->
      
    </div>
  </div>
</div>
<!-- Offcanvas-end -->

<script>
  const filters=()=>{
    let offcanvasLink = document.getElementById("offcanvas-button");
    if(window.innerWidth<1350){
      offcanvasLink.style.display = "inline";
    }
    else{
      offcanvasLink.style.display = "none"; 
    }
  }
  window.addEventListener("resize",()=>{
    filters();
  });

  document.addEventListener("DOMContentLoaded",()=>{
    filters();
  })
  
</script>

  