body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

.container{
    flex:1;
}
/* Navbar Styling */
.fa-map-location-dot{
    color:#fe424d;
    font-size:2rem;
}

.navbar{
    height:4.5rem;
    background-color:white !important;
}
.navbar-nav{
    margin: top 0.6em;
    color:white !important;
    border-radius:5px !important;
}
.navbar-collapse{
    background-color: white!important;
}
.nav-link{
    margin-left:5px !important;
}


.nav-link{
    color:#222222 !important;
    
}


/* Footer Styling */
.footer{
    background-color: rgb(229, 226, 226);
    display:flex;
    direction:row;
    flex-wrap:wrap;
}
.footer-items{
    min-width:100%;
    text-align:center;
    margin-bottom:1.5rem;
}
.anchors{
    color:black;
}
.icons-handles{
    font-size:1.7rem;
    margin:0.5vw;
}
.privacy,.terms,.company-name{
    text-decoration:none ;
    font-size:1.2rem;
}
.privacy:hover,.terms:hover{
    text-decoration: underline;
}

/* index page styling */
/* card styling */
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}
@media only screen and (max-width: 1400px) {
    .listing-card{
        width:20rem;
    }
}

@media only screen and (max-width: 1200px) {
    .listing-card{
        width:18rem;
    }
}

@media only screen and (max-width: 768px) {
    .listing-card{
        width:24.5rem;
    }
}


.card-img-top{
    border-radius:1rem;
    width:100% !important;
    object-fit: cover;
}
.card-body{
    padding:0 !important;
    font-weight:600 !important;
}

.card-link{
    text-decoration:none !important;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.6;
    background-color: white;
    color:black;
}

/* New Listing styling */
.new-details{
    font-weight:500;
}

.form-label{
    font-weight:600 !important;
}

.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border:none;
}

/* show listing details */
.show-img{
    height:40vh;
    
}
.btns{
    display:flex;
}
.show-edit-button{
    background-color:#fe424d !important;
    border:none;
    height:2.4rem;
}
.listing-card-show{
    border:none !important;
    margin-bottom:2rem;
}

.card{
    padding-left:0;
    padding-right:0;
}
.alert-heading{
    color:rgb(172, 22, 22);
    font-weight: bold;
    font-size:large;
}
.alert_container{
    text-align: center;
    overflow: visible;
  overflow-wrap: break-word;
}